@import "variables";
@import "header";
@import "body";
@import "footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    body{
        background-color: $color-primario;
        color: white;
    }

    a{
        text-decoration: none;
        color: white;
    }
    
    h2, h3 {
        font-weight: bold;
        color: $color-secundario;
        text-align: center;
    
    }
    
    h1{ 
        color: $color-tercero;
        text-align: center;
        font-size: 50px;
    }
    
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.redes_img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo_2 {
    width: 120px;
    height: 60px;
    border-radius: 20px;
}


@media (max-width:768px) {
    html{
        font-size: 15px;
        
    }

    .hero{
        max-width: 100%;
        height: 250px;
    }

    .logo_2 {
        width: 100px;
        height: 50px;
    }

    .sub_1{
        font-size: 20px;
    }
    .sub_2{
        font-size: 20px;
        text-align: center;
    }

    .intro{
        margin: 0 20px 30px;
    }
}


/** Media Querry Intro Nosotros **/

@media (max-width:768px) {

    .intro_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0;

        .intro_2{
            margin-bottom: 20px;
        }
    
        .presentacion{
            margin-bottom: 20px;
        }
    }
    
}

/**Media Query Servicios index y nosotros**/

@media (max-width:768px) {

    .servicios{
        display: flex;
        flex-direction: column;
        align-content: space-evenly;

        .division{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: $color-tercero solid 2px;
            display: flex;
            justify-content: center;

            .servicios_1{
                border-radius: 100%;
                margin: 20px auto;
                padding: 10px 10px;
            }
    
            .servicios_2{
                width: 100px;
                height: 100px;
            }
        
        }
    }

}


@media (max-width:768px) {
    .contenedor_1{
    margin: 0 2%;

        .texto{
            width: 100%;
        }
    }

    .formulario {
        margin: 50px 0;
    }
}

/** Media Querry 390px **/

@media (max-width:390px) {

    h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .navegacion{
        flex-direction: column;
        align-items: center;
    }
    
    .ref{
        background-color: $color-tercero;
        width:80%;
        text-align: center;
    }

    .presentacion{
        width: 300px;
        height: 170px;
    }

    .contenedor{
        padding: 20px 0;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-items: end;

        .contenedor_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        .contenedor_2{
    
            width: 90%;
            height: 200px;
            h2{
                margin-bottom: 10px; 
                width: 100%;
                height: 100%;
            }
        }
    }
    
}

.boton:hover{
    cursor: pointer;
}